<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/listing7-10.css" />
    <title>Listing7-10 Stacking Context</title>
  </head>
  <body>
    <div class="box one positioned">
      one
      <div class="absolute">nested</div>
    </div>
    <div class="box tow positioned">two</div>
    <div class="box three">three</div>
  </body>
</html>
